<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.polifeed.mapper.UserMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO user (email, username, provider, provider_id, role, created_at)
        VALUES (#{email}, #{username}, #{provider}, #{providerId}, #{role}, NOW())
    </insert>

    <select id="findByEmail" resultType="com.polifeed.domain.User">
        SELECT * FROM user WHERE email = #{email}
    </select>

    <select id="findByProviderId" resultType="com.polifeed.domain.User">
        SELECT * FROM user WHERE provider_id = #{providerId}
    </select>

</mapper>